@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrar";
}

<h1>@ViewData["Title"]</h1>

<div class="row container-transp p-4">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Criar uma nova conta.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nome@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Senha" class="form-control" autocomplete="new-password" aria-required="true" placeholder="senha" />
                <label asp-for="Input.Senha">Senha</label>
                <span asp-validation-for="Input.Senha" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="senha" />
                <label asp-for="Input.ConfirmPassword">Confirmar Senha</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Input.dataNascimento" class="form-label">Data de Nascimento</label>
                <input asp-for="Input.dataNascimento" class="form-label" max="2010-01-01" />
                <span asp-validation-for="Input.dataNascimento" class="text-danger"></span>

            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.peso" class="form-label">Peso (em kg)</label>
                <input asp-for="Input.peso" class="form-control" />
                <span asp-validation-for="Input.peso" class="text-danger"></span>

            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.altura" class="form-label">Altura (total em cm)</label>
                <input asp-for="Input.altura" class="form-control" />
                <span asp-validation-for="Input.altura" class="text-danger"></span>

            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.nivelAtividade" class="form-label"></label>
                <select asp-for="Input.nivelAtividade" class="form-control" asp-items="Html.GetEnumSelectList<NivelAtividade>()"></select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.sexo" class="form-label"></label>
                <select asp-for="Input.sexo" class="form-control" asp-items="Html.GetEnumSelectList<Sexo>()"></select>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Entre com uma conta em outro serviço.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    if (provider.DisplayName.Contains("Google"))
                                    {
                                        <button type="submit" class="login-with-google-btn" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
