@using diarioAlimentar.Client.Services;
@using diarioAlimentar.Shared;
@inject AlimentoService alimentoService
@inject DiarioService diarioService

<div class="porc_cont">
    <h3>@_p.Alimento.nome</h3>
    <p>Quantidade: @(_p.quantidade * 100)g</p>
    <button @onclick=@(() => detalhes = !detalhes)
            class="btn btn-primary oi @(detalhes ? "oi-plus" : "oi-minus")">
    </button> <span>Detalhes</span>
    @if (detalhes)
    {
        <h4>Informações Nutricionais</h4>
        <button class="oi oi-pencil"></button>
        <button class="oi oi-delete" @onclick=RemoverPorcao></button>
        <table class="porc_info_nut table">
            <thead>
                <tr>
                    <th scope="col">Info</th>
                    <th scope="col">Valor</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">Energia</td>
                    <td scope="row">@(_p.Alimento.informacao.Centesimal.energiaKcal * @_p.quantidade) kcal</td>
                </tr>
                <tr>
                    <td scope="row">Carboidratos</td>
                    <td scope="row">@(_p.Alimento.informacao.Centesimal.carboidrato * @_p.quantidade)g</td>
                </tr>
                <tr>
                    <td scope="row">Gorduras</td>
                </tr
                <tr>
                    <td scope="col" class="px-5">Saturadas</td>
                    <td scope="row">@(_p.Alimento.informacao.Gorduras.sat * @_p.quantidade)g</td>
                </tr>
                <tr>
                    <td scope="col" class="px-5">Monoinsaturadas</td>
                    <td scope="row">@(_p.Alimento.informacao.Gorduras.monoinsat * @_p.quantidade)g</td>
                </tr>
                <tr>
                    <td scope="col" class="px-5">Poliinsaturadas</td>
                    <td scope="row">@(_p.Alimento.informacao.Gorduras.poliinsat * @_p.quantidade)g</td>
                </tr>
                <tr>
                    <td scope="row">Fibras</td>
                    <td scope="row">@(_p.Alimento.informacao.Centesimal.fibras * @_p.quantidade)g</td>
                </tr>
            </tbody>
        </table>
    }
</div>

@code {
    [Parameter]
    public Porcao _p { get; set; }
    private bool detalhes = false;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        parameters.SetParameterProperties(this);
        if (parameters.TryGetValue<Porcao>(nameof(_p), out var value))
        {
            if (value.Alimento == null)
                value.Alimento = await alimentoService.GetPorID(value.alimentoID);
            _p = value;
        }
        await base.SetParametersAsync(ParameterView.Empty);
    }

    private async Task RemoverPorcao()
    {
        await diarioService.RemoverPorcao(_p);
    }
}
